// Import bootstrap
@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss'
@import 'node_modules/bootstrap/scss/utilities/_api.scss'

// Fonts
$font: "CoreSansC-95Black", sans-serif, Arial

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		src: local($fname), url($furl) format('woff2')

@include font('CoreSansC-45Regular', normal, 400, '../fonts/CoreSansC-45Regular.woff2')
@include font('CoreSansC-45Regular', normal, 400, '../fonts/CoreSansC-95Black.woff2')
@include font('CoreSansC-45Regular', normal, 400, '../fonts/CoreSansC-65Bold.woff2')
@include font('CoreSansC-45Regular', normal, 400, '../fonts/CoreSansC-35Light.woff2')
@include font('CoreSansC-45Regular', normal, 400, '../fonts/CoreSansC-55Medium.woff2')

// Color
$green: #00C652

// CSS
html
	font-size: 10px

body
	background-color: #fff
	overflow-x: hidden
	font-family: $font-regular
	font-size: 1.6rem
	min-width: 32rem
	color: #000

p, ul, li, table, label, h1, h2, h3, h4, h5
	margin: 0
	padding: 0
	font-size: 1.6rem

ul li
	list-style-type: none

h1, h2, h3, h4, h5
	font-weight: normal

input, textarea, a
	&:focus, &:active
		outline: none

a
	color: inherit
	text-decoration: none
	&:hover
		text-decoration: none
		color: inherit

@mixin img-resp()
	width: 100%
	height: 100%

@mixin tr()
	transition: all .3s ease-in-out
